/*FOOTER*/
footer{
    background-color: nth($colores, 5 );
    display: flex;
    justify-content: center;
    div{
        a{
            img{
                margin: 10px;
                height: 50px;
                width: 50px;
                transition: 0.6s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}